{% set container = "container" %}

{% extends 'base.html.twig' %}

{% block header %}Admin{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vuejs-app2') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('vuejs-app2') }}
{% endblock %}

{% block body %}
    <h1>App 2</h1>
    <div id="app">s</div>
{% endblock %}